* {
    margin: 0;
    padding: 0;
}

/* Segoe Script: Title fonts*/
@font-face {
    font-family: segoe-script;
    src: url(fonts/segoescript.ttf);
}


@font-face {
    font-family: playwrite;
    src: url(fonts/static/PlaywriteFRModerne-Light.ttf);
}

/* Home Page ---------------------------------------------------------------------- */

h1 {
    font-family: segoe-script;
    font-size: 5vw;
}

p, a {
    font-family: playwrite;
    font-size: 2.5vw;
}

a { text-decoration: none; }

#red-container {
    position: relative;
    background-image: linear-gradient(#b5002f, #480114);
    border-radius: 8px;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 20px;
    left: -4vh;
    top: -4vh;
}

#blue-container {
    position: relative;
    background-image: linear-gradient(#2b468a, #13275d);
    border-radius: 8px;
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 50px;
    left: 4vh;
    top: -4vh;
}

#blue-container a, #red-container a {
    color: white;
}

.nav-links { flex: 1; }

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative:
}

.header { text-align: right; }

.home-header nav {
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}

.text-box {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
